body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #383838;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.container-fluid {
    padding: 5% 5%;
}

#navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 0 20px;
    background-color: white;
    color: #383838;
}

a {
    color: #383838;
    text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:  #fa8ff1;
}

.brand-nav {
   color: #383838;
   font-size: 2rem;
}

.nav-item{
    padding: 0 7px;
    font-size: 1.1rem;
}

.coloured-section {
    background-color: #fa8ff1;
}

.white-section{
    background-color: #fff;
}

#title { 
    height: 500px;
    overflow: hidden; 
    position: relative; 
}

.title-desc {
    margin-top: 25%;
}

#cute-dog {
    margin-top: -5%;
    width: 70%;
    height: 90%;
    border-radius: 10%;
    transform: rotate(15deg);
}

#about-us {
    color: #383838;
}

#features {
    color: #383838;
}

.icon-awesome {
    color: #FAF8F1;
    margin: 0% auto 10%;
    font-size: 3rem;
}

.icon-awesome:hover {
    color: #383838;
    transform: scale(1.2);
}

.testimonial-text{
    line-height: 1.5;
    color: #383838;
}

.testimonial-images{
    margin: 5% auto;
    border-radius: 40%;
    height: 20%;
    width: 20%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #fa8ff1;
    border-radius: 20%;
    height: 0.6 rem;
    width: 0.6 rem;
}

.press-logo{
    margin: 15% auto 0;
    width: 80%;
}

#pricing{
    line-height: 1.5;
    color: #383838;
}

.card {
    color: #383838;
}

.footer-button {
    color: #383838;
    font-size: 1.5rem;
    border: none;
}

.footer-button:hover {
    color: #ef8172;
    transform: scale(1.5);
}

.contrate {
    color: white;
}

@media (max-width: 1024px) {
html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
  
  }

#title {
    text-align: center;
    height: auto;
}

#cute-dog {
    margin-top: 5%;
    transform: rotate(0);
    width: 60%;
    border-radius: 15%;
}

.testimonial-text {
    margin-bottom: 10%;
}

.press-logo {
    width: 50%;
    height: 70%;
    margin: 5% auto 0%;
}

#mediaCard {
    margin: 1% 20%;
}

.footer-button {
    margin: 10% auto;
}



}
